In [ ]:
#tweets are truncated with ...

In [ ]:
# import needed libraries
import pandas as pd 

# import graphing library
import matplotlib.pyplot as plt

import os  # for OS interface (to get/change directory)
# display and set working/data directory
os.getcwd()
os.chdir('D:/spring 23/724-DataAnalytics_SocialMedia/Project/github/NLP_on_Social_Media_Data/src/data_preprocess')
os.getcwd()

'D:\\spring 23\\724-DataAnalytics_SocialMedia\\Project\\github\\NLP_on_Social_Media_Data\\src\\data_preprocess'

In [ ]:
# import the data; note the field separator
df_chrisrocklive = pd.read_csv("../../data/#chrisrocklive_project_tweets.2023-03-09_17.16.18.676751.tsv", sep="\t", index_col=0)
df_tyrenichols = pd.read_csv("../../data/#tyrenichols_project_tweets.2023-03-09_19.25.43.435891.tsv", sep="\t", index_col=0)
df_chatgpt = pd.read_csv("../../data/chatgpt_project_tweets.2023-03-09_19.12.39.616553.tsv", sep="\t", index_col=0)
df_maga = pd.read_csv("../../data/maga_project_tweets.2023-03-08_22.25.11.437694.tsv", sep="\t", index_col=0)
df_obama = pd.read_csv("../../data/obama_project_tweets.2023-03-08_22.36.15.226664.tsv", sep="\t", index_col=0)
df_russia = pd.read_csv("../../data/russia_project_tweets.2023-03-08_22.51.51.710826.tsv", sep="\t", index_col=0)
df_ukraine = pd.read_csv("../../data/ukraine_project_tweets.2023-03-09_12.09.04.774701.tsv", sep="\t", index_col=0)
df_statehood = pd.read_csv("../../data/statehood_project_tweets.2023-03-09_17.12.00.547177.tsv", sep="\t", index_col=0)

# df_chrisrocklive = pd.read_csv("olid-training-v1.0-extra.tsv", sep="\t")

In [ ]:
combined_df = pd.concat([df_chrisrocklive, df_tyrenichols])

In [ ]:
combined_df = pd.concat([combined_df, df_chatgpt])

In [ ]:
combined_df = pd.concat([combined_df, df_maga])

In [ ]:
combined_df = pd.concat([combined_df, df_obama])

In [ ]:
combined_df = pd.concat([combined_df, df_russia])

In [ ]:
combined_df = pd.concat([combined_df, df_ukraine])

In [ ]:
combined_df = pd.concat([combined_df, df_statehood])

In [ ]:
#total number of rows with possible duplications in dataset
combined_df.shape[0]

36581

################################################

In [ ]:
combined_df.head()

,conversation_id,lang,reply_settings,created_at,text,author_id,referenced_tweets,id,edit_history_tweet_ids,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,public_metrics.impression_count,in_reply_to_user_id,geo.place_id,withheld.copyright,withheld.country_codes,geo.coordinates.type,geo.coordinates.coordinates
0,1633954063934009354,en,everyone,2023-03-09T22:13:00.000Z,RT @Infantry_bucky: He’s lucky a #ChrisRockLiv...,1519164980582653953,"[{'type': 'retweeted', 'id': '1633938373529292...",1633954063934009354,['1633954063934009354'],8,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1633954058212876289,en,everyone,2023-03-09T22:12:59.000Z,RT @1_ofakindnocap: Chris Rock: “we all been c...,21575184,"[{'type': 'retweeted', 'id': '1632283297588948...",1633954058212876289,['1633954058212876289'],616,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1633951267423768578,en,everyone,2023-03-09T22:01:54.000Z,RT @1_ofakindnocap: Chris Rock: “we all been c...,360633018,"[{'type': 'retweeted', 'id': '1632283297588948...",1633951267423768578,['1633951267423768578'],616,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1633950853626318850,en,everyone,2023-03-09T22:00:15.000Z,RT @rolandsmartin: Working out and watching th...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632825595473149...",1633950853626318850,['1633950853626318850'],14,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1633950824664645634,en,everyone,2023-03-09T22:00:08.000Z,RT @rolandsmartin: Workout done. I’ll have a f...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632833853021728...",1633950824664645634,['1633950824664645634'],8,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
duplicated_rows = combined_df.duplicated().sum()

In [ ]:
duplicated_rows

4296

In [ ]:
combined_df = combined_df.drop_duplicates()

In [ ]:
#After removing duplications we have 32,285 unique values
combined_df.shape[0]

32285

In [ ]:
combined_df['conversation_id'].nunique()

30611

In [ ]:
df_chrisrocklive.shape[0]

5070

In [ ]:
count_row = combined_df.shape[0]
count_row

36581

In [ ]:
combined_df.head()

,conversation_id,lang,reply_settings,created_at,text,author_id,referenced_tweets,id,edit_history_tweet_ids,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,public_metrics.impression_count,in_reply_to_user_id,geo.place_id,withheld.copyright,withheld.country_codes,geo.coordinates.type,geo.coordinates.coordinates
0,1633954063934009354,en,everyone,2023-03-09T22:13:00.000Z,RT @Infantry_bucky: He’s lucky a #ChrisRockLiv...,1519164980582653953,"[{'type': 'retweeted', 'id': '1633938373529292...",1633954063934009354,['1633954063934009354'],8,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1633954058212876289,en,everyone,2023-03-09T22:12:59.000Z,RT @1_ofakindnocap: Chris Rock: “we all been c...,21575184,"[{'type': 'retweeted', 'id': '1632283297588948...",1633954058212876289,['1633954058212876289'],616,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1633951267423768578,en,everyone,2023-03-09T22:01:54.000Z,RT @1_ofakindnocap: Chris Rock: “we all been c...,360633018,"[{'type': 'retweeted', 'id': '1632283297588948...",1633951267423768578,['1633951267423768578'],616,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1633950853626318850,en,everyone,2023-03-09T22:00:15.000Z,RT @rolandsmartin: Working out and watching th...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632825595473149...",1633950853626318850,['1633950853626318850'],14,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1633950824664645634,en,everyone,2023-03-09T22:00:08.000Z,RT @rolandsmartin: Workout done. I’ll have a f...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632833853021728...",1633950824664645634,['1633950824664645634'],8,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN