In [45]:
import pandas as pd

# Get Annotated files

In [46]:
!ls ../../data

Annotated_Anu_samples.csv
Annotated_Anu_samples.tsv
annotated_mel_samples.2023-04-30_23.17.25.824926.tsv
annotated_sarik_samples.2023-04-29_00.17.22.728471.tsv
anu_samples_20230428.204233.tsv
five_models_normalized_categorical_2023-04-17_23.29.43.888250.json
five_models_normalized_categorical_2023-04-17_23.29.43.888250.tsv
five_models_normalized_data_2023-04-17_22.57.12.712880.json
five_models_normalized_data_2023-04-17_22.57.12.712880.tsv
mel_samples_20230428.204233.csv
mel_samples_20230428.204233.tsv
mel_samples_20230428.204233.tsv.bak
mel_samples_20230428.204233_rescue.tsv
misc_intermediate
sarik_samples_20230428.204233.tsv

In [47]:
anu = '../../data/Annotated_Anu_samples.csv'
anu_df = pd.read_csv(anu)
anu_df.columns
anu_df.loc[anu_df['our_label'] == 'neu', 'our_label'] = 'neutral'
anu_df.loc[anu_df['our_label'] == 'neg', 'our_label'] = 'negative'
anu_df.loc[anu_df['our_label'] == 'pos', 'our_label'] = 'positive'
anu_df['annotator'] = 'anu'
anu_df[['our_label','annotator']].head()
anu_df['our_label'].value_counts()

our_label
neutral     162
negative     95
positive     43
Name: count, dtype: int64

In [48]:
sarik = '../../data/annotated_sarik_samples.2023-04-29_00.17.22.728471.tsv'
sarik_df = pd.read_csv(sarik, sep='\t')
sarik_df.loc[sarik_df['our_label'] == 'Neutral', 'our_label'] = 'neutral'
sarik_df.loc[sarik_df['our_label'] == 'Negative', 'our_label'] = 'negative'
sarik_df.loc[sarik_df['our_label'] == 'Positive', 'our_label'] = 'positive'
sarik_df['annotator'] = 'sarik'

sarik_df[['our_label','annotator']].head()
sarik_df['our_label'].value_counts()

our_label
negative    137
neutral     112
positive     51
Name: count, dtype: int64

In [50]:
#melissa = '../../data/mel_samples_20230428.204233.tsv.bak'
melissa = '../../data/annotated_mel_samples.2023-04-30_23.17.25.824926.tsv' # thank you Sarik!
mel_df = pd.read_csv(melissa, sep='\t')

print(mel_df.shape)
display(mel_df[['conversation_id','our_label','annotator']].head())
mel_df['our_label'].value_counts()

(300, 46)

       conversation_id our_label annotator
0  1633665401883332608  negative   melissa
1  1633965977665966080   neutral   melissa
2  1633219223626432512   neutral   melissa
3  1633874107552108544   neutral   melissa
4  1633227958260473856   neutral   melissa

our_label
neutral     129
negative    112
positive     59
Name: count, dtype: int64

# Combine our labels

In [51]:
df = pd.merge(mel_df, sarik_df[['our_label', 'conversation_id']], how='inner', on='conversation_id', suffixes=('_mel', '_sarik'))

In [53]:
assert df.shape[0] == 100, f'Wrong shape of merge: {df.shape}'
df[['conversation_id', 'our_label_mel', 'our_label_sarik']].head()

       conversation_id our_label_mel our_label_sarik
0  1633665401883332608      negative        negative
1  1633965977665966080       neutral         neutral
2  1633219223626432512       neutral        negative
3  1633874107552108544       neutral         neutral
4  1633227958260473856       neutral        negative

In [57]:
iaa_df = pd.merge(df, anu_df[['our_label', 'conversation_id']], how='inner', on='conversation_id')
assert iaa_df.shape[0] == 100, f'Wrong shape of iaa_df: {iaa_df.shape}'

# rename the final labels from Anu:
iaa_df['our_label_anu'] = iaa_df['our_label']

# reset the final "our_label" field to none, will be our final vote
iaa_df['our_label'] = ''
print(iaa_df.columns)

iaa_df[['conversation_id', 'our_label_mel', 'our_label_sarik', 'our_label_anu', 'our_label']].head()

Index(['Unnamed: 0', 'conversation_id', 'lang', 'reply_settings', 'created_at',
       'clean_text', 'text', 'author_id', 'referenced_tweets', 'id',
       'edit_history_tweet_ids', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.impression_count', 'in_reply_to_user_id',
       'geo.place_id', 'withheld.copyright', 'withheld.country_codes',
       'geo.coordinates.type', 'geo.coordinates.coordinates',
       'textblob_Polarity', 'textblob_Subjectivity', 'vader_Polarity',
       'vader_Subjectivity', 'AFINN_scores', 'AFINN_sentiments',
       'SentiWordNet_scores', 'normalized_textblob_Polarity',
       'normalized_textblob_Subjectivity', 'normalized_vader_Polarity',
       'normalized_vader_Subjectivity', 'normalized_AFINN_scores',
       'normalized_SentiWordNet_scores', 'our_label_mel', 'annotator',
       'roberta_content', 'roberta_polarity', 'roberta_sentiment', 'keyword',
       'normalized_roberta_polarity', 'textblob_label', 'vader_label',
       'AFINN_label', 'SentiWordNet_label', 'roberta_label', 'our_label_sarik',
       'our_label', 'our_label_anu'],
      dtype='object')

       conversation_id our_label_mel our_label_sarik our_label_anu our_label
0  1633665401883332608      negative        negative      negative
1  1633965977665966080       neutral         neutral       neutral
2  1633219223626432512       neutral        negative       neutral
3  1633874107552108544       neutral         neutral       neutral
4  1633227958260473856       neutral        negative       neutral

# Votes

In [67]:
annot_cols = ['our_label_mel', 'our_label_sarik', 'our_label_anu']
iaa_df['our_label'] = iaa_df[annot_cols].mode(axis=1)
display(iaa_df[['our_label_mel', 'our_label_sarik', 'our_label_anu', 'our_label']].iloc[:30])
display(iaa_df[['our_label_mel', 'our_label_sarik', 'our_label_anu', 'our_label']].iloc[30:60])
display(iaa_df[['our_label_mel', 'our_label_sarik', 'our_label_anu', 'our_label']].iloc[60:])

   our_label_mel our_label_sarik our_label_anu our_label
0       negative        negative      negative  negative
1        neutral         neutral       neutral   neutral
2        neutral        negative       neutral   neutral
3        neutral         neutral       neutral   neutral
4        neutral        negative       neutral   neutral
5        neutral         neutral       neutral   neutral
6        neutral         neutral       neutral   neutral
7        neutral         neutral       neutral   neutral
8        neutral        negative       neutral   neutral
9       negative        negative      negative  negative
10      positive        positive       neutral  positive
11      negative         neutral       neutral   neutral
12       neutral         neutral       neutral   neutral
13       neutral         neutral       neutral   neutral
14      negative        negative       neutral  negative
15       neutral        negative       neutral   neutral
16      negative        negative      negative  negative
17      positive        negative      negative  negative
18      negative        negative      negative  negative
19      negative        negative      negative  negative
20       neutral        positive       neutral   neutral
21      negative        negative      negative  negative
22      negative        positive      positive  positive
23       neutral        negative      negative  negative
24      negative        positive      negative  negative
25      negative        negative      positive  negative
26      positive         neutral       neutral   neutral
27       neutral        negative       neutral   neutral
28       neutral        positive      positive  positive
29       neutral        negative       neutral   neutral

   our_label_mel our_label_sarik our_label_anu our_label
30       neutral        negative      negative  negative
31      negative        negative       neutral  negative
32       neutral        negative       neutral   neutral
33       neutral         neutral       neutral   neutral
34       neutral         neutral       neutral   neutral
35      positive        positive      positive  positive
36      negative         neutral       neutral   neutral
37      positive         neutral      positive  positive
38       neutral         neutral       neutral   neutral
39      positive        positive      positive  positive
40      negative        negative      negative  negative
41       neutral        negative       neutral   neutral
42      negative        negative      negative  negative
43       neutral        negative       neutral   neutral
44      positive        positive       neutral  positive
45       neutral         neutral       neutral   neutral
46      negative        negative       neutral  negative
47      positive         neutral      positive  positive
48      negative        negative      negative  negative
49      negative        negative       neutral  negative
50      positive         neutral       neutral   neutral
51       neutral        negative       neutral   neutral
52       neutral         neutral       neutral   neutral
53      positive         neutral       neutral   neutral
54       neutral         neutral       neutral   neutral
55       neutral        negative       neutral   neutral
56      negative        negative      negative  negative
57      positive        positive      positive  positive
58       neutral         neutral       neutral   neutral
59      positive        positive      positive  positive

   our_label_mel our_label_sarik our_label_anu our_label
60      positive        positive      positive  positive
61      positive        positive      positive  positive
62      positive        positive       neutral  positive
63       neutral        negative       neutral   neutral
64       neutral         neutral       neutral   neutral
65      positive         neutral       neutral   neutral
66      positive        positive       neutral  positive
67      negative        negative      negative  negative
68      negative        negative       neutral  negative
69      negative        negative      negative  negative
70       neutral         neutral       neutral   neutral
71       neutral         neutral       neutral   neutral
72       neutral         neutral       neutral   neutral
73      positive         neutral      positive  positive
74      positive        positive       neutral  positive
75      positive         neutral      positive  positive
76      negative        negative      negative  negative
77      negative        negative      negative  negative
78      negative         neutral       neutral   neutral
79       neutral        negative      negative  negative
80       neutral        negative      negative  negative
81      positive        positive      positive  positive
82      positive         neutral       neutral   neutral
83      negative         neutral      negative  negative
84       neutral        positive      positive  positive
85       neutral         neutral       neutral   neutral
86       neutral        negative       neutral   neutral
87       neutral        negative       neutral   neutral
88       neutral         neutral       neutral   neutral
89      negative        negative      negative  negative
90      negative        negative       neutral  negative
91      negative        negative      negative  negative
92       neutral        negative       neutral   neutral
93      negative        negative      negative  negative
94      negative         neutral       neutral   neutral
95       neutral         neutral       neutral   neutral
96      negative        negative      negative  negative
97      negative        negative       neutral  negative
98      positive        positive       neutral  positive
99      negative         neutral       neutral   neutral

In [68]:
iaa_df['our_label'].value_counts()

our_label
neutral     47
negative    33
positive    20
Name: count, dtype: int64

# IAA

In [70]:
from sklearn.metrics import cohen_kappa_score as cohen
from itertools import combinations

In [82]:
annot_cols = ['our_label_mel', 'our_label_sarik', 'our_label_anu', 'our_label']
print('Our combinations (including the vote):\n', [x for x in combinations(annot_cols, 2)])
for pair in [x for x in combinations(annot_cols, 2)]:
    print(pair, cohen(iaa_df[pair[0]], iaa_df[pair[1]]))

Our combinations (including the vote):
 [('our_label_mel', 'our_label_sarik'), ('our_label_mel', 'our_label_anu'), ('our_label_mel', 'our_label'), ('our_label_sarik', 'our_label_anu'), ('our_label_sarik', 'our_label'), ('our_label_anu', 'our_label')]
('our_label_mel', 'our_label_sarik') 0.38214396045721355
('our_label_mel', 'our_label_anu') 0.48594377510040165
('our_label_mel', 'our_label') 0.7186181022354228
('our_label_sarik', 'our_label_anu') 0.4392523364485982
('our_label_sarik', 'our_label') 0.6578538102643858
('our_label_anu', 'our_label') 0.7687861271676301

# Save the IAA data

In [83]:
iaa_df.to_csv('../../data/iaa_050123.0913.tsv', sep='\t')
iaa_df.to_json('../../data/iaa_050123.0913.json')

# Big Merge

Make the big dataset with all of our annotations (900) and those of the 100 combined votes

In [87]:
big_df = pd.read_json('../../data/five_models_normalized_categorical_2023-04-17_23.29.43.888250.json')
print(big_df.shape)
print(big_df.columns)
big_df.head(3)

(30611, 45)
Index(['conversation_id', 'lang', 'reply_settings', 'created_at', 'clean_text',
       'text', 'author_id', 'referenced_tweets', 'id',
       'edit_history_tweet_ids', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.impression_count', 'in_reply_to_user_id',
       'geo.place_id', 'withheld.copyright', 'withheld.country_codes',
       'geo.coordinates.type', 'geo.coordinates.coordinates',
       'textblob_Polarity', 'textblob_Subjectivity', 'vader_Polarity',
       'vader_Subjectivity', 'AFINN_scores', 'AFINN_sentiments',
       'SentiWordNet_scores', 'normalized_textblob_Polarity',
       'normalized_textblob_Subjectivity', 'normalized_vader_Polarity',
       'normalized_vader_Subjectivity', 'normalized_AFINN_scores',
       'normalized_SentiWordNet_scores', 'our_label', 'annotator',
       'roberta_content', 'roberta_polarity', 'roberta_sentiment', 'keyword',
       'normalized_roberta_polarity', 'textblob_label', 'vader_label',
       'AFINN_label', 'SentiWordNet_label', 'roberta_label'],
      dtype='object')

,conversation_id,lang,reply_settings,created_at,clean_text,text,author_id,referenced_tweets,id,edit_history_tweet_ids,...,roberta_content,roberta_polarity,roberta_sentiment,keyword,normalized_roberta_polarity,textblob_label,vader_label,AFINN_label,SentiWordNet_label,roberta_label
0,1633954063934009344,en,everyone,2023-03-09 22:13:00,rt infantry_bucky hes lucky a #chrisrocklive ...,RT @Infantry_bucky: He’s lucky a #ChrisRockLiv...,1519164980582653952,"[{'type': 'retweeted', 'id': '1633938373529292...",1633954063934009344,['1633954063934009354'],...,RT @user He’s lucky a #ChrisRockLive was the w...,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,neutral,neutral,negative
1,1633954058212876288,en,everyone,2023-03-09 22:12:59,rt 1_ofakindnocap chris rock we all been chea...,RT @1_ofakindnocap: Chris Rock: “we all been c...,21575184,"[{'type': 'retweeted', 'id': '1632283297588948...",1633954058212876288,['1633954058212876289'],...,RT @user Chris Rock: “we all been cheated on.....,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,negative,negative,negative
2,1633951267423768576,en,everyone,2023-03-09 22:01:54,rt 1_ofakindnocap chris rock we all been chea...,RT @1_ofakindnocap: Chris Rock: “we all been c...,360633018,"[{'type': 'retweeted', 'id': '1632283297588948...",1633951267423768576,['1633951267423768578'],...,RT @user Chris Rock: “we all been cheated on.....,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,negative,negative,negative

In [146]:
big_df = pd.read_json('../../data/five_models_normalized_categorical_2023-04-17_23.29.43.888250.json')
assert big_df.loc[big_df['our_label'].isna()].shape[0] == big_df.shape[0] - 300
print(big_df.shape)

# merge mel labels
big_df.set_index('conversation_id', inplace=True)
big_df.update(mel_df.set_index('conversation_id'))
print(big_df.loc[~big_df['our_label'].isna()].shape)

# merge anu
big_df.update(anu_df.set_index('conversation_id'))
print(big_df.loc[~big_df['our_label'].isna()].shape)

# merge sarik
big_df.update(sarik_df.set_index('conversation_id'))
print(big_df.loc[~big_df['our_label'].isna()].shape)

# merge the vote
big_df.update(iaa_df.set_index('conversation_id'))
print(big_df.loc[~big_df['our_label'].isna()].shape)


#big_df.rename_index('conversation_id').reset_index()  
big_df.reset_index().rename(columns={big_df.index.name:'conversation_id'})
big_df.reset_index(inplace=True)
big_df['conversation_id'] = big_df['conversation_id'].astype(str)
print(big_df.shape)

print(big_df.columns)
big_df.head()

(30611, 45)
(600, 44)
(800, 44)
(1000, 44)
(1000, 44)
(30611, 45)
Index(['conversation_id', 'lang', 'reply_settings', 'created_at', 'clean_text',
       'text', 'author_id', 'referenced_tweets', 'id',
       'edit_history_tweet_ids', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.impression_count', 'in_reply_to_user_id',
       'geo.place_id', 'withheld.copyright', 'withheld.country_codes',
       'geo.coordinates.type', 'geo.coordinates.coordinates',
       'textblob_Polarity', 'textblob_Subjectivity', 'vader_Polarity',
       'vader_Subjectivity', 'AFINN_scores', 'AFINN_sentiments',
       'SentiWordNet_scores', 'normalized_textblob_Polarity',
       'normalized_textblob_Subjectivity', 'normalized_vader_Polarity',
       'normalized_vader_Subjectivity', 'normalized_AFINN_scores',
       'normalized_SentiWordNet_scores', 'our_label', 'annotator',
       'roberta_content', 'roberta_polarity', 'roberta_sentiment', 'keyword',
       'normalized_roberta_polarity', 'textblob_label', 'vader_label',
       'AFINN_label', 'SentiWordNet_label', 'roberta_label'],
      dtype='object')

,conversation_id,lang,reply_settings,created_at,clean_text,text,author_id,referenced_tweets,id,edit_history_tweet_ids,...,roberta_content,roberta_polarity,roberta_sentiment,keyword,normalized_roberta_polarity,textblob_label,vader_label,AFINN_label,SentiWordNet_label,roberta_label
0,1633954063934009344,en,everyone,1678399980000000000,rt infantry_bucky hes lucky a #chrisrocklive ...,RT @Infantry_bucky: He’s lucky a #ChrisRockLiv...,1519164980582653952,"[{'type': 'retweeted', 'id': '1633938373529292...",1633954063934009344,['1633954063934009354'],...,RT @user He’s lucky a #ChrisRockLive was the w...,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,neutral,neutral,negative
1,1633954058212876288,en,everyone,1678399979000000000,rt 1_ofakindnocap chris rock we all been chea...,RT @1_ofakindnocap: Chris Rock: “we all been c...,21575184,"[{'type': 'retweeted', 'id': '1632283297588948...",1633954058212876288,['1633954058212876289'],...,RT @user Chris Rock: “we all been cheated on.....,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,negative,negative,negative
2,1633951267423768576,en,everyone,1678399314000000000,rt 1_ofakindnocap chris rock we all been chea...,RT @1_ofakindnocap: Chris Rock: “we all been c...,360633018,"[{'type': 'retweeted', 'id': '1632283297588948...",1633951267423768576,['1633951267423768578'],...,RT @user Chris Rock: “we all been cheated on.....,-0.635149,negative,#chrisrocklive,0.072673,neutral,negative,negative,negative,negative
3,1633950853626318848,en,everyone,1678399215000000000,rt rolandsmartin working out and watching the...,RT @rolandsmartin: Working out and watching th...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632825595473149...",1633950853626318848,['1633950853626318850'],...,RT @user Working out and watching the @user @u...,0.388473,positive,#chrisrocklive,0.754342,neutral,positive,neutral,neutral,positive
4,1633950824664645632,en,everyone,1678399208000000000,rt rolandsmartin workout done ill have a few ...,RT @rolandsmartin: Workout done. I’ll have a f...,1547101103803830272,"[{'type': 'retweeted', 'id': '1632833853021728...",1633950824664645632,['1633950824664645634'],...,RT @user Workout done. I’ll have a few comment...,0.168381,neutral,#chrisrocklive,0.607774,neutral,positive,neutral,neutral,neutral

In [148]:
label_cols = [c for c in big_df.columns if 'label' in c]
print(label_cols)

big_df[label_cols].iloc[13190].head()

['our_label', 'textblob_label', 'vader_label', 'AFINN_label', 'SentiWordNet_label', 'roberta_label']

our_label             negative
textblob_label        positive
vader_label           positive
AFINN_label            neutral
SentiWordNet_label     neutral
Name: 13190, dtype: object

In [149]:
mel_df[label_cols].head()
#mel_df[important_cols].head()

,our_label,textblob_label,vader_label,AFINN_label,SentiWordNet_label,roberta_label
0,negative,positive,positive,neutral,neutral,negative
1,neutral,neutral,neutral,neutral,neutral,positive
2,neutral,neutral,neutral,neutral,neutral,negative
3,neutral,neutral,neutral,neutral,neutral,neutral
4,neutral,neutral,neutral,neutral,neutral,negative

In [150]:
important_cols = ['conversation_id', 'our_label', 'textblob_label', 
                  'vader_label', 'AFINN_label', 'SentiWordNet_label', 
                  'roberta_label', 'our_label_anu', 'our_label_sarik','our_label_mel']

iaa_df[important_cols].tail()

,conversation_id,our_label,textblob_label,vader_label,AFINN_label,SentiWordNet_label,roberta_label,our_label_anu,our_label_sarik,our_label_mel
95,1633095016355622912,neutral,neutral,neutral,neutral,neutral,neutral,neutral,neutral,neutral
96,1633876536695586816,negative,neutral,negative,neutral,neutral,negative,negative,negative,negative
97,1633670596663054336,negative,neutral,negative,neutral,negative,neutral,neutral,negative,negative
98,1633877201052667904,positive,neutral,positive,neutral,neutral,positive,neutral,positive,positive
99,1633106009215442944,neutral,neutral,positive,neutral,neutral,neutral,neutral,neutral,negative

In [152]:
big_df.loc[big_df['conversation_id'] == '1633106009215442944']['our_label']

25210    neutral
Name: our_label, dtype: object

In [153]:
big_df.to_json('../../data/big_data_all_annotations.20230501.2113.json')
big_df.to_csv('../../data/big_data_all_annotations.20230501.2113.tsv', sep='\t')

In [154]:
big_df.loc[~big_df['our_label'].isna()].shape
big_df.loc[~big_df['our_label'].isna()].to_json('../../data/1000_annotated.json')
big_df.loc[~big_df['our_label'].isna()].to_csv('../../data/1000_annotated.tsv', sep='\t')

(1000, 45)